body{

    max-width: 100%;
    box-sizing: border-box;
    max-height:100%;
    margin:0;
    background-color: #f4f6f7;

      min-height: 100vh;
    display: flex;
    flex-direction: column;

}
table {
  padding:10px;
    border-collapse: collapse;
    width: 100%;
}

  .tableStyle1 th:nth-child(even){
         background-color: #ddd;
  }

  tr:nth-child(even){background-color: #ddd}


th {   background-color: #87bdea;

    padding:10px;
    text-align: left;
    font-weight: bold;
     color:#000000;

    font-size:18px;
}
td{
 padding:20px;
}

.flex-section{
  display:flex;
  flex-direction: row;
  
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
    text-align: center; /* Center the content horizontally */
    padding: 10px; /* Add some padding for spacing */
}


/*responsive mobile design*/


@media only screen and (max-width: 768px) {
  /* For tablets: */

.flex-section{

  margin:0 auto;
  display:flex;
  flex-direction:column;
}
.responsiveTable{
overflow-x:auto;
}
table{
  display:flex;
  flex-direction: column;
}
th{
  font-size:12px;
}

td{
 padding:10px;
 font-size:10px;
}


body{
      min-height: 180vh;
    display: flex;
    flex-direction: column;

}
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
.heading{
  font-size:18px;
}
.label-title{
  font-size:14px;
}
.flex-section{

  margin:0 auto;
  display:flex;
  flex-direction:column;
}
.responsiveTable{
overflow-x:auto;
}
table{
  display:flex;
  flex-direction: column;
}
th{
  font-size:12px;
}

td{
 padding:10px;
 font-size:10px;
}
}

