body{

    max-width: 100%;
    box-sizing: border-box;
    max-height:100%;
    margin:0;
    background-color: #f4f6f7;
}
table {
    border-collapse: collapse;
    width: 100%;
}

  .tableStyle1 th:nth-child(even){
         background-color: #8fceec;
  }

  tr:nth-child(even){background-color: #ddd}


th {   background-color: #03A9F4;
    padding:5px;
    text-align: left;
    font-weight:bold;
     color:#ffffff  ;
      font-weight: 500;
    font-size:18px;
}
td{
 padding:20px;
}

.flex-section{
  display:flex;
  flex-direction: row;
  
}


/*responsive mobile design*/


@media only screen and (max-width: 768px) {
  /* For tablets: */

.flex-section{

  margin:0 auto;
  display:flex;
  flex-direction:column;
}
.responsiveTable{
overflow-x:auto;
}
table{
  display:flex;
  flex-direction: column;
}
th{
  font-size:12px;
}

td{
 padding:10px;
 font-size:10px;
}
}

@media only screen and (max-width: 600px) {
  /* For tablets: */

.flex-section{

  margin:0 auto;
  display:flex;
  flex-direction:column;
}
.responsiveTable{
overflow-x:auto;
}
table{
  display:flex;
  flex-direction: column;
}
th{
  font-size:12px;
}

td{
 padding:10px;
 font-size:10px;
}
}

