body{
    padding:20px;
    max-width: 100%;
    box-sizing: border-box;
    max-height:100%;
    margin:0;
}
table {
    border-collapse: collapse;
    width: 100%;
}

  .tableStyle1 th:nth-child(even){
         background-color: #8fceec;
  }


th {   background-color: #03A9F4;
    padding:20px;
    text-align: left;
     color:#ffffff  ;
      font-weight: 500;
    font-size:18px;
}
td{
 padding:20px;
}
